In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

In [2]:
numbers_series = pd.Series([100, 43, 26, 17, 17])
type(numbers_series)

pandas.core.series.Series

In [3]:
numbers_series

0    100
1     43
2     26
3     17
4     17
dtype: int64

In [4]:
pd.Series([3, 2, 4.5])

0    3.0
1    2.0
2    4.5
dtype: float64

In [5]:
letters_series = pd.Series(['a', 'e', 'h', 'd', 'b', 'z'])
letters_series

0    a
1    e
2    h
3    d
4    b
5    z
dtype: object

In [6]:
# pandas needs same data type to create a series #

In [7]:
labeled_series = pd.Series({'a' : 0, 'b' : 1.5, 'c' : 2, 'd': 3.5, 'e': 4, 'f': 5.5})
labeled_series

a    0.0
b    1.5
c    2.0
d    3.5
e    4.0
f    5.5
dtype: float64

In [8]:
numbers_series + 1

0    101
1     44
2     27
3     18
4     18
dtype: int64

In [9]:
numbers_series == 17

0    False
1    False
2    False
3     True
4     True
dtype: bool

In [10]:
numbers_series > 40

0     True
1     True
2    False
3    False
4    False
dtype: bool

In [11]:
numbers_series ** 2

0    10000
1     1849
2      676
3      289
4      289
dtype: int64

In [12]:
numbers_series[numbers_series > 40]

0    100
1     43
dtype: int64

In [13]:
# this is called subsetting in pandas #

In [14]:
# Access the index of the Series using dot notation.

numbers_series.index

RangeIndex(start=0, stop=5, step=1)

In [15]:
# The values are stored in a NumPy array. Hello vectorized operations!

numbers_series.values

array([100,  43,  26,  17,  17])

In [16]:
numbers_series.name = 'Numbers'
numbers_series

0    100
1     43
2     26
3     17
4     17
Name: Numbers, dtype: int64

In [17]:
numbers_series.shape

(5,)

In [ ]:
# fisrt 5 values, modify in parath to change the input #

In [18]:
numbers_series.head(2)

0    100
1     43
Name: Numbers, dtype: int64

In [19]:
numbers_series.tail(2)

3    17
4    17
Name: Numbers, dtype: int64

In [20]:
numbers_series.sample()

2    26
Name: Numbers, dtype: int64

In [ ]:
# used to change into desired "object" "float" "int" #

In [21]:
num_strings = pd.Series([3, 4, 5, 6]).astype('str')
num_strings

0    3
1    4
2    5
3    6
dtype: object

In [22]:
floats = pd.Series([3, 4, 5, 6]).astype('float')
floats

0    3.0
1    4.0
2    5.0
3    6.0
dtype: float64

In [23]:
floats.astype('int')

0    3
1    4
2    5
3    6
dtype: int64

In [24]:
pd.Series(['a', 'b', 'a', 'c', 'b', 'a', 'd', 'a']).value_counts()

a    4
b    2
c    1
d    1
dtype: int64

In [25]:
numbers_series.describe()

count      5.000000
mean      40.600000
std       34.861153
min       17.000000
25%       17.000000
50%       26.000000
75%       43.000000
max      100.000000
Name: Numbers, dtype: float64

In [ ]:
# exercise 1st part #

In [28]:
 Fruit = pd.Series(["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"])

In [44]:
Fruit.size

17

In [30]:
Fruit.count

<bound method Series.count of 0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object>

In [31]:
Fruit.describe

<bound method NDFrame.describe of 0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object>

In [45]:
Fruit.index

RangeIndex(start=0, stop=17, step=1)

In [46]:
Fruit.values

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew', 'kiwi',
       'kiwi', 'kiwi', 'mango', 'blueberry', 'blackberry', 'gooseberry',
       'papaya'], dtype=object)

In [43]:
Fruit.dtype

dtype('O')

In [50]:
Fruit.head(5)

0          kiwi
1         mango
2    strawberry
3     pineapple
4    gala apple
dtype: object

In [55]:
Fruit.tail(3)

14    blackberry
15    gooseberry
16        papaya
dtype: object

In [52]:
Fruit.sample(2)

14    blackberry
7     watermelon
dtype: object

In [53]:
Fruit.describe()

count       17
unique      13
top       kiwi
freq         4
dtype: object

In [54]:
Fruit.describe

<bound method NDFrame.describe of 0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object>

In [56]:
Fruit.uniqe()

AttributeError: 'Series' object has no attribute 'uniqe'